<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>

    <category label="Account Settings">
     <setting label="Account" type="lsep" />
     <setting id="username" type="text" label="Username" default=""/>
     <setting id="password" type="text" option="hidden" label="Password" default=""/>

     </category>
<category label="Addon Settings">
     <setting label="Addon Settings" type="lsep" />
     <setting id="show_categories" type="bool" default="true" visible="true" label="Show Categories"/>
     <setting label="Server Select" type= "action" action="RunPlugin(plugin://$ID/serverSetup)" option="close" />
    <setting id="stream_format" type="enum" label="Stream Format" enable="true" lvalues="70001|70002" default="0" />
    <setting id="lastAdded" type="string" label="Last VOD Add" visible="false" enable="true" default="0" />
    <setting id="vodVersion" type="string" label="vodVersion" visible="false" enable="true" default="1.0" />
    <setting id="initialCategorySelected" type="bool" label="initialCategorySelected" visible="false" enable="true" default="False" />


</category>


    <category label = "MatchCenter">
     <setting id="current_tz" type="string" label="Current TZ" default="None" visible='false'/>
      <setting id="current_offset" type="string" label="Current Offset" default="-1000" visible='false'/>
      <setting id="mc_timezone_enable" type="bool" label="Enable MatchCenter/EPG Offset" default="false"/>

        <setting id="mc_timezone" type="slider" label="Offset Value" range="-12,0.25,12" default="-1000" option="float" visible="true"/>
        <setting id="mc_backward" type="slider" label="50002" range="-12,0.25,12" default="6" option="float" visible='true'/>/>
        <setting id="mc_forward" type="slider" label="50003" range="-12,0.25,12" default="12" option="float" visible='true'/>/>
        <setting id="mc_quittimer" type="number" label="Quit Timer"  default="7" visible='true'/>/>

    </category>
    <!-- General -->
        <category label = "VOD Settings">
                <setting id="enable_kodi_library" type="bool" label="Import VOD into Kodi" default="false" enable="true"/>
                <setting id="enable_filesource" type="bool" label="Auto Add File Source" default="false" enable="true"/>
                <setting id="enable_adult" type="bool" visible="false"  label="Show Adult Content" default="false" enable="false"/>

         </category>

            <category label = "Catchup Settings">
                 <setting id="group_by_name" type="bool"  label="Group Shows by Name" default="False" enable="true"/>
                <setting id="catchup_length" type="number"  label="Catchup Length (max 6)" default="6" enable="true"/>

         </category>


    <category label = "EPG Settings">
        <setting id="pluginmissing" type="bool" default="false" visible="false"/>
        <setting label="33003" type="lsep" visible="eq(-1,true)"/>
        <setting id="mergem3u" type="bool" label="33005" default="false"/>
        <setting id="mergem3u_fn" type="file" label="33006" default="" visible="eq(-1,true)"/>

        <setting id="debug" type="bool" label="32100" default="false"/>
        <!--<setting id="offset1hr" type="bool" label="32101" default="false" visible="false"/>-->

        <setting id="sort_alpha" type="bool" label="Sort Channels Alphabetically" default="false" enable="true"/>
        <setting id="enable_pvr" type="bool" label="Enable PVR Integration" default="true" enable="true"/>

        <setting id="schedule_interval" type="enum" label="30061" lvalues="30079|30072|30073|30074|30075" default="1" enable="eq(-1,true)" visible="false"/>
        <setting id="schedule_time" type="labelenum" label="30062" values="00:00|01:00|02:00|03:00|04:00|05:00|06:00|07:00|08:00|09:00|10:00|11:00|12:00|13:00|14:00|15:00|16:00|17:00|18:00|19:00|20:00|21:00|22:00|23:00" default="02:00" visible="false"  enable="eq(-2,true)" />
        <setting id="day_of_week" type="enum" label="30063" lvalues="30065|30066|30067|30068|30069|30070|30071" default="0" visible="eq(-2,2)"  enable="eq(-3,true)" />
        <setting id="cron_schedule" type="text" label="30064" default="0 0 * * *" visible="false"  enable="eq(-4,true)" />


      </category>
     <category label = "EPG Groups">
         <setting id="Canada" value="True" visible="False" default="True"/>
         <setting id="United States" value="True" visible="False" default="True"/>
         <setting id="United Kingdom" value="True" visible="False" default="True"/>
         <setting id="Sports" value="True" visible="False" default="True"/>
         <setting id="Premium Movies" value="True" visible="False" default="True"/>
         <setting id="categorySetupLastOpen" type="text"  visible="False" default="1"/>
         <setting id="categorySetupLastSet" type="text"  visible="False" default="0"/>

         <setting label="Configure EPG Groups" type= "action" action="RunPlugin(plugin://$ID/categorySetup)" option="close" />
        <setting default="true" id="allow_universal" label="" type="bool" visible="false"/>
        <setting default="true" id="auto_pick" label="" type="bool" visible="false"/>
        <setting default="true" id="use_cache" label="" type="bool" visible="false"/>
        <setting id="speedwatchResolver_enabled" value="true" />
        <setting id="speedwatchResolver_priority" value="100" />
        <setting id="tvlogyResolver_enabled" value="true" />
        <setting id="tvlogyResolver_priority" value="100" />
    </category>
</settings>
